--
-- PostgreSQL database dump
--

\restrict xL6gK6XXuW9WevasGSk3zfNhUrwAfWfLlE9Y2iXIgKJLZwjnC51EKBR8awoOOLb

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: normalize_case_file_id(text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.normalize_case_file_id(case_file_id text) RETURNS text
    LANGUAGE plpgsql IMMUTABLE
    AS $$
BEGIN
    -- Remove all non-digit characters to create normalized ID
    -- Examples: "69423-5" -> "694235", "83895-4-I" -> "838954"
    RETURN regexp_replace(case_file_id, '[^0-9]', '', 'g');
END;
$$;


--
-- Name: FUNCTION normalize_case_file_id(case_file_id text); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.normalize_case_file_id(case_file_id text) IS 'Normalizes case_file_id by removing all non-digit characters for fuzzy matching';


--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END; $$;


--
-- Name: set_users_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_users_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: arguments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.arguments (
    argument_id bigint NOT NULL,
    case_id bigint NOT NULL,
    issue_id bigint NOT NULL,
    side public.citext NOT NULL,
    argument_text text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: arguments_argument_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.arguments ALTER COLUMN argument_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arguments_argument_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attorneys; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attorneys (
    attorney_id bigint NOT NULL,
    case_id bigint NOT NULL,
    name public.citext NOT NULL,
    firm_name public.citext,
    firm_address text,
    representing public.citext,
    attorney_type public.citext,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: attorneys_attorney_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.attorneys ALTER COLUMN attorney_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.attorneys_attorney_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brief_arguments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.brief_arguments (
    brief_argument_id bigint NOT NULL,
    brief_id bigint NOT NULL,
    case_id bigint,
    issue_id bigint,
    parent_argument_id bigint,
    hierarchy_level integer DEFAULT 1 NOT NULL,
    hierarchy_path text,
    sort_order integer,
    argument_heading text,
    argument_text text NOT NULL,
    argument_number integer,
    page_number integer,
    related_issues text[],
    cited_cases text[],
    cited_statutes text[],
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE brief_arguments; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.brief_arguments IS 'Hierarchical arguments from briefs (e.g., III -> A -> 1)';


--
-- Name: COLUMN brief_arguments.parent_argument_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.brief_arguments.parent_argument_id IS 'Self-referential FK for nested argument structure';


--
-- Name: COLUMN brief_arguments.hierarchy_path; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.brief_arguments.hierarchy_path IS 'Display path (e.g., "III.A.1")';


--
-- Name: brief_arguments_brief_argument_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.brief_arguments ALTER COLUMN brief_argument_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brief_arguments_brief_argument_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brief_chunks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.brief_chunks (
    chunk_id uuid DEFAULT gen_random_uuid() NOT NULL,
    brief_id bigint NOT NULL,
    case_id bigint,
    chunk_order integer NOT NULL,
    text text NOT NULL,
    section public.citext,
    word_count integer,
    char_count integer,
    embedding public.vector(1024),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE brief_chunks; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.brief_chunks IS 'Text chunks from briefs with section awareness for RAG';


--
-- Name: COLUMN brief_chunks.section; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.brief_chunks.section IS 'Brief section (e.g., ARGUMENT, STATEMENT_OF_FACTS, TABLE_OF_AUTHORITIES)';


--
-- Name: brief_citations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.brief_citations (
    brief_citation_id bigint NOT NULL,
    brief_id bigint NOT NULL,
    brief_argument_id bigint,
    citation_text public.citext NOT NULL,
    citation_type public.citext,
    page_number integer,
    from_toa boolean DEFAULT false,
    toa_page_refs text[],
    cited_case_id bigint,
    statute_id bigint,
    context text,
    proposition text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE brief_citations; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.brief_citations IS 'Citations from briefs with Table of Authorities priority flagging';


--
-- Name: COLUMN brief_citations.from_toa; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.brief_citations.from_toa IS 'TRUE if from Table of Authorities (high-confidence)';


--
-- Name: COLUMN brief_citations.toa_page_refs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.brief_citations.toa_page_refs IS 'Page numbers where citation appears (from TOA)';


--
-- Name: brief_citations_brief_citation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.brief_citations ALTER COLUMN brief_citation_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brief_citations_brief_citation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brief_phrases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.brief_phrases (
    phrase_id bigint NOT NULL,
    brief_id bigint NOT NULL,
    phrase public.citext NOT NULL,
    frequency integer DEFAULT 1,
    phrase_length integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE brief_phrases; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.brief_phrases IS 'N-gram phrases extracted from briefs for phrase-based search';


--
-- Name: brief_phrases_phrase_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.brief_phrases ALTER COLUMN phrase_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brief_phrases_phrase_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brief_sentences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.brief_sentences (
    sentence_id bigint NOT NULL,
    brief_id bigint NOT NULL,
    chunk_id uuid,
    text text NOT NULL,
    "position" integer NOT NULL,
    word_count integer,
    embedding public.vector(1024),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE brief_sentences; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.brief_sentences IS 'Sentence-level indexing for briefs with embeddings';


--
-- Name: brief_sentences_sentence_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.brief_sentences ALTER COLUMN sentence_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brief_sentences_sentence_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brief_word_occurrence; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.brief_word_occurrence (
    brief_id bigint NOT NULL,
    chunk_id uuid NOT NULL,
    word_id bigint NOT NULL,
    "position" integer NOT NULL
);


--
-- Name: TABLE brief_word_occurrence; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.brief_word_occurrence IS 'Word-level indexing for briefs (reuses word_dictionary)';


--
-- Name: briefs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.briefs (
    brief_id bigint NOT NULL,
    case_id bigint,
    case_file_id public.citext NOT NULL,
    responds_to_brief_id bigint,
    brief_sequence integer,
    brief_type public.citext NOT NULL,
    filing_party public.citext NOT NULL,
    page_count integer,
    word_count integer,
    summary text,
    full_text text,
    full_embedding public.vector(1024),
    source_file public.citext NOT NULL,
    source_file_path text NOT NULL,
    year integer,
    processing_status public.citext DEFAULT 'pending'::public.citext,
    extraction_timestamp timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    source_url text
);


--
-- Name: TABLE briefs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.briefs IS 'Legal briefs with multi-strategy case linking and conversation tracking';


--
-- Name: COLUMN briefs.responds_to_brief_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.briefs.responds_to_brief_id IS 'Self-referential FK for brief chaining (Opening -> Response -> Reply)';


--
-- Name: briefs_brief_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.briefs ALTER COLUMN brief_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.briefs_brief_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: case_chunks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.case_chunks (
    chunk_id bigint NOT NULL,
    case_id bigint NOT NULL,
    document_id bigint,
    chunk_order integer NOT NULL,
    section public.citext,
    text text NOT NULL,
    sentence_count integer DEFAULT 0,
    tsv tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, COALESCE(text, ''::text))) STORED,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: case_chunks_chunk_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.case_chunks ALTER COLUMN chunk_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.case_chunks_chunk_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: case_judges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.case_judges (
    id bigint NOT NULL,
    case_id bigint NOT NULL,
    judge_id bigint NOT NULL,
    role public.citext,
    court public.citext,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: case_judges_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.case_judges ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.case_judges_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: case_phrases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.case_phrases (
    phrase_id bigint NOT NULL,
    case_id bigint NOT NULL,
    document_id bigint,
    phrase public.citext NOT NULL,
    n smallint NOT NULL,
    frequency integer NOT NULL,
    example_sentence bigint,
    example_chunk bigint,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT case_phrases_n_check CHECK ((n = ANY (ARRAY[2, 3, 4])))
);


--
-- Name: case_phrases_phrase_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.case_phrases ALTER COLUMN phrase_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.case_phrases_phrase_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: case_sentences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.case_sentences (
    sentence_id bigint NOT NULL,
    case_id bigint NOT NULL,
    chunk_id bigint NOT NULL,
    document_id bigint,
    sentence_order integer NOT NULL,
    global_sentence_order integer NOT NULL,
    text text NOT NULL,
    word_count integer DEFAULT 0,
    tsv tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, COALESCE(text, ''::text))) STORED,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: case_sentences_sentence_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.case_sentences ALTER COLUMN sentence_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.case_sentences_sentence_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: case_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.case_types (
    case_type_id bigint NOT NULL,
    case_type public.citext NOT NULL,
    description text,
    jurisdiction public.citext,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: case_types_case_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.case_types ALTER COLUMN case_type_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.case_types_case_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cases (
    case_id bigint NOT NULL,
    case_file_id public.citext,
    title public.citext NOT NULL,
    court_level public.citext,
    court public.citext,
    district public.citext,
    county public.citext,
    docket_number public.citext,
    source_docket_number public.citext,
    trial_judge public.citext,
    appeal_published_date date,
    oral_argument_date date,
    published boolean,
    summary text,
    full_text text,
    full_embedding public.vector(1024),
    overall_case_outcome public.citext,
    case_type_id bigint,
    stage_type_id bigint,
    court_id bigint,
    parent_case_id bigint,
    case_type public.citext,
    winner_legal_role public.citext,
    winner_personal_role public.citext,
    appeal_outcome public.citext,
    source_file public.citext,
    source_file_path text,
    source_url text,
    extraction_timestamp timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    publication_status public.citext,
    processing_status public.citext DEFAULT 'pending'::public.citext,
    ingestion_batch_id uuid,
    decision_year integer,
    decision_month public.citext,
    case_info_url text,
    CONSTRAINT chk_cases_processing_status CHECK ((processing_status OPERATOR(public.=) ANY (ARRAY['pending'::public.citext, 'text_extracted'::public.citext, 'ai_processed'::public.citext, 'embedded'::public.citext, 'fully_processed'::public.citext, 'failed'::public.citext]))),
    CONSTRAINT chk_cases_publication_status CHECK (((publication_status IS NULL) OR (publication_status OPERATOR(public.=) ANY (ARRAY['Published'::public.citext, 'Unpublished'::public.citext, 'Partially Published'::public.citext, 'Published in Part'::public.citext]))))
);


--
-- Name: COLUMN cases.case_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.cases.case_type IS 'Case type classification: criminal, civil, family, administrative, etc. NULL if not yet classified.';


--
-- Name: COLUMN cases.publication_status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.cases.publication_status IS 'Publication status: Published, Unpublished, Partially Published, or Published in Part';


--
-- Name: COLUMN cases.processing_status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.cases.processing_status IS 'Ingestion pipeline status: pending ??? text_extracted ??? ai_processed ??? embedded ??? fully_processed';


--
-- Name: COLUMN cases.ingestion_batch_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.cases.ingestion_batch_id IS 'UUID of the batch that ingested this case, for tracking and rollback';


--
-- Name: COLUMN cases.decision_year; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.cases.decision_year IS 'Year of the decision from metadata (for filtering/grouping)';


--
-- Name: COLUMN cases.decision_month; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.cases.decision_month IS 'Month of the decision from metadata (January, February, etc.)';


--
-- Name: COLUMN cases.case_info_url; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.cases.case_info_url IS 'URL to the case information page (distinct from PDF URL)';


--
-- Name: cases_case_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cases ALTER COLUMN case_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cases_case_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_logs (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ip_address character varying(45),
    user_agent character varying(512),
    username text,
    user_type text,
    llm_provider text,
    llm_model text,
    prompt text,
    enhanced_prompt text,
    response text,
    case_filters jsonb,
    metadata jsonb,
    attachments jsonb,
    location_country text,
    location_region text,
    location_city text,
    duration_ms integer,
    user_rating integer,
    error text
);


--
-- Name: chat_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_logs_id_seq OWNED BY public.chat_logs.id;


--
-- Name: citation_edges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.citation_edges (
    citation_id bigint NOT NULL,
    source_case_id bigint NOT NULL,
    target_case_citation public.citext NOT NULL,
    target_case_id bigint,
    relationship public.citext,
    importance public.citext,
    pin_cite public.citext,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: citation_edges_citation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.citation_edges ALTER COLUMN citation_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.citation_edges_citation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courts_dim; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.courts_dim (
    court_id bigint NOT NULL,
    court public.citext NOT NULL,
    level public.citext,
    jurisdiction public.citext,
    district public.citext,
    county public.citext,
    court_type public.citext,
    CONSTRAINT chk_courts_dim_court_type CHECK (((court_type IS NULL) OR (court_type OPERATOR(public.=) ANY (ARRAY['Supreme Court'::public.citext, 'Court of Appeals'::public.citext, 'Superior Court'::public.citext, 'District Court'::public.citext, 'Municipal Court'::public.citext]))))
);


--
-- Name: COLUMN courts_dim.court_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.courts_dim.court_type IS 'Court hierarchy type: Supreme Court, Court of Appeals, Superior Court, etc.';


--
-- Name: courts_dim_court_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.courts_dim ALTER COLUMN court_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courts_dim_court_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.document_types (
    document_type_id bigint NOT NULL,
    document_type public.citext NOT NULL,
    description text,
    has_decision boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    role public.citext,
    category public.citext,
    is_adversarial boolean DEFAULT false,
    processing_strategy public.citext,
    display_order integer DEFAULT 100,
    CONSTRAINT chk_document_types_processing_strategy CHECK ((processing_strategy OPERATOR(public.=) ANY (ARRAY['case_outcome'::public.citext, 'brief_extraction'::public.citext, 'evidence_indexing'::public.citext, 'text_only'::public.citext]))),
    CONSTRAINT chk_document_types_role CHECK ((role OPERATOR(public.=) ANY (ARRAY['court'::public.citext, 'party'::public.citext, 'evidence'::public.citext, 'administrative'::public.citext])))
);


--
-- Name: TABLE document_types; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.document_types IS 'Traffic Cop control center: Routes incoming documents to appropriate processing pipelines based on type, role, and strategy. V1 supports: appellate_opinion, trial_court_order, final_judgment (Court); opening_brief, respondent_brief, reply_brief (Party); transcript, exhibit (Evidence).';


--
-- Name: COLUMN document_types.role; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.document_types.role IS 'Document authority source: court (rulings), party (briefs), evidence (facts), administrative (procedural)';


--
-- Name: COLUMN document_types.category; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.document_types.category IS 'UI grouping label for frontend display (e.g., Court Decisions, Party Briefs, Evidence)';


--
-- Name: COLUMN document_types.is_adversarial; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.document_types.is_adversarial IS 'TRUE if document is biased/argumentative (briefs), FALSE if neutral/objective (opinions, transcripts)';


--
-- Name: COLUMN document_types.processing_strategy; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.document_types.processing_strategy IS 'Backend routing: case_outcome (extract winners), brief_extraction (populate briefs table), evidence_indexing (chunk & embed), text_only (basic indexing)';


--
-- Name: COLUMN document_types.display_order; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.document_types.display_order IS 'Sort order for UI display within category';


--
-- Name: document_types_document_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.document_types ALTER COLUMN document_type_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.document_types_document_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documents (
    document_id bigint NOT NULL,
    case_id bigint,
    stage_type_id bigint,
    document_type_id bigint NOT NULL,
    title text,
    source_url text,
    local_path text,
    file_size bigint,
    page_count integer,
    processing_status public.citext DEFAULT 'pending'::public.citext,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    brief_id bigint
);


--
-- Name: TABLE documents; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.documents IS 'Central file registry for ALL documents: court decisions (case_id set, brief_id NULL) and briefs (both case_id and brief_id set). Use document_type_id to determine processing strategy.';


--
-- Name: COLUMN documents.brief_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.documents.brief_id IS 'FK to briefs table - populated when document is a brief (opening_brief, respondent_brief, reply_brief)';


--
-- Name: documents_document_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.documents ALTER COLUMN document_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.documents_document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: embeddings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.embeddings (
    embedding_id bigint NOT NULL,
    case_id bigint NOT NULL,
    chunk_id bigint NOT NULL,
    document_id bigint,
    text text NOT NULL,
    embedding public.vector(1024) NOT NULL,
    chunk_order integer NOT NULL,
    section public.citext,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: embeddings_embedding_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.embeddings ALTER COLUMN embedding_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.embeddings_embedding_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ingestion_batches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ingestion_batches (
    batch_id uuid DEFAULT gen_random_uuid() NOT NULL,
    batch_name text NOT NULL,
    source_type public.citext NOT NULL,
    source_path text,
    started_at timestamp without time zone DEFAULT now(),
    completed_at timestamp without time zone,
    total_files integer DEFAULT 0,
    processed_files integer DEFAULT 0,
    failed_files integer DEFAULT 0,
    skipped_files integer DEFAULT 0,
    status public.citext DEFAULT 'running'::public.citext,
    error_message text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_ingestion_batches_source_type CHECK ((source_type OPERATOR(public.=) ANY (ARRAY['supreme_court'::public.citext, 'court_of_appeals'::public.citext, 'court_of_appeals_partial'::public.citext, 'briefs'::public.citext, 'mixed'::public.citext, 'csv'::public.citext]))),
    CONSTRAINT chk_ingestion_batches_status CHECK ((status OPERATOR(public.=) ANY (ARRAY['running'::public.citext, 'completed'::public.citext, 'failed'::public.citext, 'cancelled'::public.citext, 'paused'::public.citext])))
);


--
-- Name: TABLE ingestion_batches; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.ingestion_batches IS 'Tracks batch ingestion runs for progress monitoring and rollback capability';


--
-- Name: COLUMN ingestion_batches.source_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.ingestion_batches.source_type IS 'Type of documents: supreme_court, court_of_appeals, court_of_appeals_partial, briefs, mixed, csv';


--
-- Name: issue_chunks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.issue_chunks (
    id bigint NOT NULL,
    issue_id bigint NOT NULL,
    case_id bigint NOT NULL,
    chunk_id bigint NOT NULL,
    evidence_score real
);


--
-- Name: issue_chunks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.issue_chunks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.issue_chunks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: issues_decisions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.issues_decisions (
    issue_id bigint NOT NULL,
    case_id bigint NOT NULL,
    category public.citext NOT NULL,
    subcategory public.citext NOT NULL,
    rcw_reference public.citext,
    keywords public.citext[],
    issue_summary text NOT NULL,
    decision_stage public.citext,
    decision_summary text,
    appeal_outcome public.citext,
    winner_legal_role public.citext,
    winner_personal_role public.citext,
    confidence_score real,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: issues_decisions_issue_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.issues_decisions ALTER COLUMN issue_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.issues_decisions_issue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: judges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.judges (
    judge_id bigint NOT NULL,
    name public.citext NOT NULL
);


--
-- Name: judges_judge_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.judges ALTER COLUMN judge_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.judges_judge_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mv_top_phrases; Type: MATERIALIZED VIEW; Schema: public; Owner: -
--

CREATE MATERIALIZED VIEW public.mv_top_phrases AS
 SELECT c.court,
    p.phrase,
    sum(p.frequency) AS total_freq,
    count(DISTINCT p.case_id) AS cases_covered
   FROM (public.case_phrases p
     JOIN public.cases c ON ((c.case_id = p.case_id)))
  GROUP BY c.court, p.phrase
  ORDER BY (sum(p.frequency)) DESC
  WITH NO DATA;


--
-- Name: parties; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parties (
    party_id bigint NOT NULL,
    case_id bigint NOT NULL,
    name public.citext NOT NULL,
    legal_role public.citext,
    personal_role public.citext,
    party_type public.citext,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: parties_party_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.parties ALTER COLUMN party_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.parties_party_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stage_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stage_types (
    stage_type_id bigint NOT NULL,
    stage_type public.citext NOT NULL,
    description text,
    level integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: stage_types_stage_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.stage_types ALTER COLUMN stage_type_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stage_types_stage_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: statute_citations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.statute_citations (
    id bigint NOT NULL,
    case_id bigint NOT NULL,
    statute_id bigint,
    raw_text text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: statute_citations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.statute_citations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.statute_citations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: statutes_dim; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.statutes_dim (
    statute_id bigint NOT NULL,
    jurisdiction public.citext,
    code public.citext,
    title public.citext,
    section public.citext,
    subsection public.citext,
    display_text public.citext
);


--
-- Name: statutes_dim_statute_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.statutes_dim ALTER COLUMN statute_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.statutes_dim_statute_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email public.citext NOT NULL,
    full_name text NOT NULL,
    location_state text NOT NULL,
    jurisdictions text[] DEFAULT '{}'::text[] NOT NULL,
    case_types text[] DEFAULT '{}'::text[] NOT NULL,
    user_type text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT users_user_type_check CHECK ((user_type = ANY (ARRAY['pro_se'::text, 'lawyer'::text, 'other'::text])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: word_dictionary; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.word_dictionary (
    word_id integer NOT NULL,
    word public.citext NOT NULL,
    lemma public.citext,
    df integer DEFAULT 0
);


--
-- Name: word_dictionary_word_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.word_dictionary_word_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: word_dictionary_word_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.word_dictionary_word_id_seq OWNED BY public.word_dictionary.word_id;


--
-- Name: word_occurrence; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.word_occurrence (
    word_id integer NOT NULL,
    case_id bigint NOT NULL,
    chunk_id bigint NOT NULL,
    sentence_id bigint NOT NULL,
    document_id bigint,
    "position" integer NOT NULL
);


--
-- Name: chat_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_logs ALTER COLUMN id SET DEFAULT nextval('public.chat_logs_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: word_dictionary word_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_dictionary ALTER COLUMN word_id SET DEFAULT nextval('public.word_dictionary_word_id_seq'::regclass);


--
-- Name: arguments arguments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.arguments
    ADD CONSTRAINT arguments_pkey PRIMARY KEY (argument_id);


--
-- Name: attorneys attorneys_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attorneys
    ADD CONSTRAINT attorneys_pkey PRIMARY KEY (attorney_id);


--
-- Name: brief_arguments brief_arguments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_arguments
    ADD CONSTRAINT brief_arguments_pkey PRIMARY KEY (brief_argument_id);


--
-- Name: brief_chunks brief_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_chunks
    ADD CONSTRAINT brief_chunks_pkey PRIMARY KEY (chunk_id);


--
-- Name: brief_citations brief_citations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_citations
    ADD CONSTRAINT brief_citations_pkey PRIMARY KEY (brief_citation_id);


--
-- Name: brief_phrases brief_phrases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_phrases
    ADD CONSTRAINT brief_phrases_pkey PRIMARY KEY (phrase_id);


--
-- Name: brief_sentences brief_sentences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_sentences
    ADD CONSTRAINT brief_sentences_pkey PRIMARY KEY (sentence_id);


--
-- Name: brief_word_occurrence brief_word_occurrence_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_word_occurrence
    ADD CONSTRAINT brief_word_occurrence_pkey PRIMARY KEY (chunk_id, word_id, "position");


--
-- Name: briefs briefs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.briefs
    ADD CONSTRAINT briefs_pkey PRIMARY KEY (brief_id);


--
-- Name: case_chunks case_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_chunks
    ADD CONSTRAINT case_chunks_pkey PRIMARY KEY (chunk_id);


--
-- Name: case_judges case_judges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_judges
    ADD CONSTRAINT case_judges_pkey PRIMARY KEY (id);


--
-- Name: case_phrases case_phrases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_phrases
    ADD CONSTRAINT case_phrases_pkey PRIMARY KEY (phrase_id);


--
-- Name: case_sentences case_sentences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_sentences
    ADD CONSTRAINT case_sentences_pkey PRIMARY KEY (sentence_id);


--
-- Name: case_types case_types_case_type_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_types
    ADD CONSTRAINT case_types_case_type_key UNIQUE (case_type);


--
-- Name: case_types case_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_types
    ADD CONSTRAINT case_types_pkey PRIMARY KEY (case_type_id);


--
-- Name: cases cases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_pkey PRIMARY KEY (case_id);


--
-- Name: chat_logs chat_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_logs
    ADD CONSTRAINT chat_logs_pkey PRIMARY KEY (id);


--
-- Name: citation_edges citation_edges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.citation_edges
    ADD CONSTRAINT citation_edges_pkey PRIMARY KEY (citation_id);


--
-- Name: courts_dim courts_dim_court_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courts_dim
    ADD CONSTRAINT courts_dim_court_key UNIQUE (court);


--
-- Name: courts_dim courts_dim_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courts_dim
    ADD CONSTRAINT courts_dim_pkey PRIMARY KEY (court_id);


--
-- Name: document_types document_types_document_type_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_document_type_key UNIQUE (document_type);


--
-- Name: document_types document_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_pkey PRIMARY KEY (document_type_id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (document_id);


--
-- Name: embeddings embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_pkey PRIMARY KEY (embedding_id);


--
-- Name: ingestion_batches ingestion_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ingestion_batches
    ADD CONSTRAINT ingestion_batches_pkey PRIMARY KEY (batch_id);


--
-- Name: issue_chunks issue_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.issue_chunks
    ADD CONSTRAINT issue_chunks_pkey PRIMARY KEY (id);


--
-- Name: issues_decisions issues_decisions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.issues_decisions
    ADD CONSTRAINT issues_decisions_pkey PRIMARY KEY (issue_id);


--
-- Name: judges judges_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.judges
    ADD CONSTRAINT judges_name_key UNIQUE (name);


--
-- Name: judges judges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.judges
    ADD CONSTRAINT judges_pkey PRIMARY KEY (judge_id);


--
-- Name: parties parties_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parties
    ADD CONSTRAINT parties_pkey PRIMARY KEY (party_id);


--
-- Name: stage_types stage_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stage_types
    ADD CONSTRAINT stage_types_pkey PRIMARY KEY (stage_type_id);


--
-- Name: stage_types stage_types_stage_type_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stage_types
    ADD CONSTRAINT stage_types_stage_type_key UNIQUE (stage_type);


--
-- Name: statute_citations statute_citations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.statute_citations
    ADD CONSTRAINT statute_citations_pkey PRIMARY KEY (id);


--
-- Name: statutes_dim statutes_dim_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.statutes_dim
    ADD CONSTRAINT statutes_dim_pkey PRIMARY KEY (statute_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: word_dictionary word_dictionary_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_dictionary
    ADD CONSTRAINT word_dictionary_pkey PRIMARY KEY (word_id);


--
-- Name: word_dictionary word_dictionary_word_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_dictionary
    ADD CONSTRAINT word_dictionary_word_key UNIQUE (word);


--
-- Name: word_occurrence word_occurrence_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_occurrence
    ADD CONSTRAINT word_occurrence_pkey PRIMARY KEY (word_id, sentence_id, "position");


--
-- Name: idx_arguments_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_arguments_case_id ON public.arguments USING btree (case_id);


--
-- Name: idx_attorneys_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_attorneys_case_id ON public.attorneys USING btree (case_id);


--
-- Name: idx_brief_arguments_brief_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_arguments_brief_id ON public.brief_arguments USING btree (brief_id);


--
-- Name: idx_brief_arguments_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_arguments_case_id ON public.brief_arguments USING btree (case_id);


--
-- Name: idx_brief_arguments_hierarchy; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_arguments_hierarchy ON public.brief_arguments USING btree (brief_id, hierarchy_level, sort_order);


--
-- Name: idx_brief_arguments_issue_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_arguments_issue_id ON public.brief_arguments USING btree (issue_id);


--
-- Name: idx_brief_arguments_parent; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_arguments_parent ON public.brief_arguments USING btree (parent_argument_id);


--
-- Name: idx_brief_chunks_brief_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_chunks_brief_id ON public.brief_chunks USING btree (brief_id);


--
-- Name: idx_brief_chunks_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_chunks_case_id ON public.brief_chunks USING btree (case_id);


--
-- Name: idx_brief_chunks_embedding; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_chunks_embedding ON public.brief_chunks USING ivfflat (embedding public.vector_cosine_ops) WITH (lists='100');


--
-- Name: idx_brief_chunks_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_chunks_order ON public.brief_chunks USING btree (brief_id, chunk_order);


--
-- Name: idx_brief_chunks_text_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_chunks_text_gin ON public.brief_chunks USING gin (to_tsvector('english'::regconfig, text));


--
-- Name: idx_brief_citations_argument_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_citations_argument_id ON public.brief_citations USING btree (brief_argument_id);


--
-- Name: idx_brief_citations_brief_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_citations_brief_id ON public.brief_citations USING btree (brief_id);


--
-- Name: idx_brief_citations_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_citations_case_id ON public.brief_citations USING btree (cited_case_id);


--
-- Name: idx_brief_citations_statute_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_citations_statute_id ON public.brief_citations USING btree (statute_id);


--
-- Name: idx_brief_citations_toa; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_citations_toa ON public.brief_citations USING btree (brief_id, from_toa) WHERE (from_toa = true);


--
-- Name: idx_brief_citations_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_citations_type ON public.brief_citations USING btree (citation_type);


--
-- Name: idx_brief_phrases_brief_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_phrases_brief_id ON public.brief_phrases USING btree (brief_id);


--
-- Name: idx_brief_phrases_frequency; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_phrases_frequency ON public.brief_phrases USING btree (frequency DESC);


--
-- Name: idx_brief_phrases_phrase; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_phrases_phrase ON public.brief_phrases USING btree (phrase);


--
-- Name: idx_brief_sentences_brief_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_sentences_brief_id ON public.brief_sentences USING btree (brief_id);


--
-- Name: idx_brief_sentences_chunk_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_sentences_chunk_id ON public.brief_sentences USING btree (chunk_id);


--
-- Name: idx_brief_sentences_embedding; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_sentences_embedding ON public.brief_sentences USING ivfflat (embedding public.vector_cosine_ops) WITH (lists='100');


--
-- Name: idx_brief_word_occurrence_brief_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_word_occurrence_brief_id ON public.brief_word_occurrence USING btree (brief_id);


--
-- Name: idx_brief_word_occurrence_chunk_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_word_occurrence_chunk_id ON public.brief_word_occurrence USING btree (chunk_id);


--
-- Name: idx_brief_word_occurrence_word_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_brief_word_occurrence_word_id ON public.brief_word_occurrence USING btree (word_id);


--
-- Name: idx_briefs_brief_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_brief_type ON public.briefs USING btree (brief_type);


--
-- Name: idx_briefs_case_file_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_case_file_id ON public.briefs USING btree (case_file_id);


--
-- Name: idx_briefs_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_case_id ON public.briefs USING btree (case_id);


--
-- Name: idx_briefs_embedding; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_embedding ON public.briefs USING ivfflat (full_embedding public.vector_cosine_ops) WITH (lists='100');


--
-- Name: idx_briefs_filing_party; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_filing_party ON public.briefs USING btree (filing_party);


--
-- Name: idx_briefs_responds_to; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_responds_to ON public.briefs USING btree (responds_to_brief_id);


--
-- Name: idx_briefs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_status ON public.briefs USING btree (processing_status);


--
-- Name: idx_briefs_summary_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_summary_gin ON public.briefs USING gin (to_tsvector('english'::regconfig, COALESCE(summary, ''::text)));


--
-- Name: idx_briefs_year; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_briefs_year ON public.briefs USING btree (year);


--
-- Name: idx_case_chunks_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_chunks_case_id ON public.case_chunks USING btree (case_id);


--
-- Name: idx_case_chunks_case_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_chunks_case_order ON public.case_chunks USING btree (case_id, chunk_order);


--
-- Name: idx_case_chunks_tsv; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_chunks_tsv ON public.case_chunks USING gin (tsv);


--
-- Name: idx_case_judges_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_judges_case_id ON public.case_judges USING btree (case_id);


--
-- Name: idx_case_phrases_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_phrases_case_id ON public.case_phrases USING btree (case_id);


--
-- Name: idx_case_phrases_phrase_trgm; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_phrases_phrase_trgm ON public.case_phrases USING gin (phrase public.gin_trgm_ops);


--
-- Name: idx_case_sentences_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_sentences_case_id ON public.case_sentences USING btree (case_id);


--
-- Name: idx_case_sentences_chunk_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_sentences_chunk_id ON public.case_sentences USING btree (chunk_id);


--
-- Name: idx_case_sentences_global_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_sentences_global_order ON public.case_sentences USING btree (case_id, global_sentence_order);


--
-- Name: idx_case_sentences_tsv; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_case_sentences_tsv ON public.case_sentences USING gin (tsv);


--
-- Name: idx_cases_decision_month; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_decision_month ON public.cases USING btree (decision_month);


--
-- Name: idx_cases_decision_year; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_decision_year ON public.cases USING btree (decision_year);


--
-- Name: idx_cases_ingestion_batch_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_ingestion_batch_id ON public.cases USING btree (ingestion_batch_id);


--
-- Name: idx_cases_normalized_file_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_normalized_file_id ON public.cases USING btree (public.normalize_case_file_id((case_file_id)::text));


--
-- Name: INDEX idx_cases_normalized_file_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON INDEX public.idx_cases_normalized_file_id IS 'Fast lookups for normalized case_file_id matching';


--
-- Name: idx_cases_processing_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_processing_status ON public.cases USING btree (processing_status);


--
-- Name: idx_cases_publication_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cases_publication_status ON public.cases USING btree (publication_status);


--
-- Name: idx_cases_unique_case_file; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_cases_unique_case_file ON public.cases USING btree (case_file_id, court_level) WHERE (case_file_id IS NOT NULL);


--
-- Name: idx_chat_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_logs_created_at ON public.chat_logs USING btree (created_at);


--
-- Name: idx_citation_edges_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_citation_edges_case_id ON public.citation_edges USING btree (source_case_id);


--
-- Name: idx_citation_edges_source; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_citation_edges_source ON public.citation_edges USING btree (source_case_id);


--
-- Name: idx_citation_edges_target_citation_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_citation_edges_target_citation_gin ON public.citation_edges USING gin (target_case_citation public.gin_trgm_ops);


--
-- Name: idx_courts_dim_court_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_courts_dim_court_type ON public.courts_dim USING btree (court_type);


--
-- Name: idx_document_types_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_document_types_category ON public.document_types USING btree (category);


--
-- Name: idx_document_types_processing_strategy; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_document_types_processing_strategy ON public.document_types USING btree (processing_strategy);


--
-- Name: idx_document_types_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_document_types_role ON public.document_types USING btree (role);


--
-- Name: idx_documents_brief_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_documents_brief_id ON public.documents USING btree (brief_id);


--
-- Name: idx_documents_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_documents_case_id ON public.documents USING btree (case_id);


--
-- Name: idx_embeddings_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_embeddings_case_id ON public.embeddings USING btree (case_id);


--
-- Name: idx_embeddings_chunk_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_embeddings_chunk_id ON public.embeddings USING btree (chunk_id);


--
-- Name: idx_embeddings_hnsw; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_embeddings_hnsw ON public.embeddings USING hnsw (embedding public.vector_cosine_ops);


--
-- Name: idx_embeddings_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_embeddings_order ON public.embeddings USING btree (case_id, chunk_order);


--
-- Name: idx_embeddings_tsv; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_embeddings_tsv ON public.embeddings USING gin (to_tsvector('english'::regconfig, text));


--
-- Name: idx_issues_decisions_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_issues_decisions_case_id ON public.issues_decisions USING btree (case_id);


--
-- Name: idx_parties_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parties_case_id ON public.parties USING btree (case_id);


--
-- Name: idx_statute_citations_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_statute_citations_case_id ON public.statute_citations USING btree (case_id);


--
-- Name: idx_users_case_types; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_case_types ON public.users USING gin (case_types);


--
-- Name: idx_users_jurisdictions; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_jurisdictions ON public.users USING gin (jurisdictions);


--
-- Name: idx_users_location_state; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_location_state ON public.users USING btree (location_state);


--
-- Name: idx_users_user_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_user_type ON public.users USING btree (user_type);


--
-- Name: idx_word_dictionary_trgm; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_word_dictionary_trgm ON public.word_dictionary USING gin (word public.gin_trgm_ops);


--
-- Name: idx_word_occurrence_case_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_word_occurrence_case_id ON public.word_occurrence USING btree (case_id);


--
-- Name: idx_word_occurrence_chunk_pos; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_word_occurrence_chunk_pos ON public.word_occurrence USING btree (chunk_id, "position");


--
-- Name: idx_word_occurrence_word_case; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_word_occurrence_word_case ON public.word_occurrence USING btree (word_id, case_id);


--
-- Name: uq_case_chunk_order; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_case_chunk_order ON public.case_chunks USING btree (case_id, chunk_order);


--
-- Name: uq_case_judge_role; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_case_judge_role ON public.case_judges USING btree (case_id, judge_id, role);


--
-- Name: uq_case_phrase; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_case_phrase ON public.case_phrases USING btree (case_id, phrase);


--
-- Name: uq_case_sentence_order; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_case_sentence_order ON public.case_sentences USING btree (case_id, chunk_id, sentence_order);


--
-- Name: uq_citation_edge; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_citation_edge ON public.citation_edges USING btree (source_case_id, target_case_citation, COALESCE(pin_cite, ''::public.citext));


--
-- Name: uq_documents_brief_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_documents_brief_id ON public.documents USING btree (brief_id) WHERE (brief_id IS NOT NULL);


--
-- Name: uq_issue_chunk; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_issue_chunk ON public.issue_chunks USING btree (issue_id, chunk_id);


--
-- Name: uq_statute_parts; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_statute_parts ON public.statutes_dim USING btree (jurisdiction, code, title, section, COALESCE(subsection, ''::public.citext));


--
-- Name: arguments trg_arguments_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_arguments_updated BEFORE UPDATE ON public.arguments FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: brief_arguments trg_brief_arguments_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_brief_arguments_updated BEFORE UPDATE ON public.brief_arguments FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: briefs trg_briefs_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_briefs_updated BEFORE UPDATE ON public.briefs FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: case_chunks trg_case_chunks_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_case_chunks_updated BEFORE UPDATE ON public.case_chunks FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: case_sentences trg_case_sentences_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_case_sentences_updated BEFORE UPDATE ON public.case_sentences FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: cases trg_cases_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_cases_updated BEFORE UPDATE ON public.cases FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: documents trg_documents_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_documents_updated BEFORE UPDATE ON public.documents FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: embeddings trg_embeddings_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_embeddings_updated BEFORE UPDATE ON public.embeddings FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: issues_decisions trg_issues_decisions_updated; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_issues_decisions_updated BEFORE UPDATE ON public.issues_decisions FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users trg_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_users_updated_at();


--
-- Name: arguments arguments_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.arguments
    ADD CONSTRAINT arguments_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: arguments arguments_issue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.arguments
    ADD CONSTRAINT arguments_issue_id_fkey FOREIGN KEY (issue_id) REFERENCES public.issues_decisions(issue_id) ON DELETE CASCADE;


--
-- Name: attorneys attorneys_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attorneys
    ADD CONSTRAINT attorneys_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: brief_arguments brief_arguments_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_arguments
    ADD CONSTRAINT brief_arguments_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON DELETE CASCADE;


--
-- Name: brief_arguments brief_arguments_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_arguments
    ADD CONSTRAINT brief_arguments_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE SET NULL;


--
-- Name: brief_arguments brief_arguments_issue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_arguments
    ADD CONSTRAINT brief_arguments_issue_id_fkey FOREIGN KEY (issue_id) REFERENCES public.issues_decisions(issue_id) ON DELETE SET NULL;


--
-- Name: brief_arguments brief_arguments_parent_argument_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_arguments
    ADD CONSTRAINT brief_arguments_parent_argument_id_fkey FOREIGN KEY (parent_argument_id) REFERENCES public.brief_arguments(brief_argument_id) ON DELETE CASCADE;


--
-- Name: brief_chunks brief_chunks_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_chunks
    ADD CONSTRAINT brief_chunks_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON DELETE CASCADE;


--
-- Name: brief_chunks brief_chunks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_chunks
    ADD CONSTRAINT brief_chunks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE SET NULL;


--
-- Name: brief_citations brief_citations_brief_argument_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_citations
    ADD CONSTRAINT brief_citations_brief_argument_id_fkey FOREIGN KEY (brief_argument_id) REFERENCES public.brief_arguments(brief_argument_id) ON DELETE SET NULL;


--
-- Name: brief_citations brief_citations_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_citations
    ADD CONSTRAINT brief_citations_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON DELETE CASCADE;


--
-- Name: brief_citations brief_citations_cited_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_citations
    ADD CONSTRAINT brief_citations_cited_case_id_fkey FOREIGN KEY (cited_case_id) REFERENCES public.cases(case_id) ON DELETE SET NULL;


--
-- Name: brief_citations brief_citations_statute_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_citations
    ADD CONSTRAINT brief_citations_statute_id_fkey FOREIGN KEY (statute_id) REFERENCES public.statutes_dim(statute_id) ON DELETE SET NULL;


--
-- Name: brief_phrases brief_phrases_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_phrases
    ADD CONSTRAINT brief_phrases_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON DELETE CASCADE;


--
-- Name: brief_sentences brief_sentences_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_sentences
    ADD CONSTRAINT brief_sentences_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON DELETE CASCADE;


--
-- Name: brief_sentences brief_sentences_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_sentences
    ADD CONSTRAINT brief_sentences_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.brief_chunks(chunk_id) ON DELETE CASCADE;


--
-- Name: brief_word_occurrence brief_word_occurrence_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_word_occurrence
    ADD CONSTRAINT brief_word_occurrence_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON DELETE CASCADE;


--
-- Name: brief_word_occurrence brief_word_occurrence_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_word_occurrence
    ADD CONSTRAINT brief_word_occurrence_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.brief_chunks(chunk_id) ON DELETE CASCADE;


--
-- Name: brief_word_occurrence brief_word_occurrence_word_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.brief_word_occurrence
    ADD CONSTRAINT brief_word_occurrence_word_id_fkey FOREIGN KEY (word_id) REFERENCES public.word_dictionary(word_id) ON DELETE CASCADE;


--
-- Name: briefs briefs_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.briefs
    ADD CONSTRAINT briefs_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE SET NULL;


--
-- Name: briefs briefs_responds_to_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.briefs
    ADD CONSTRAINT briefs_responds_to_brief_id_fkey FOREIGN KEY (responds_to_brief_id) REFERENCES public.briefs(brief_id) ON DELETE SET NULL;


--
-- Name: case_chunks case_chunks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_chunks
    ADD CONSTRAINT case_chunks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: case_chunks case_chunks_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_chunks
    ADD CONSTRAINT case_chunks_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(document_id) ON DELETE SET NULL;


--
-- Name: case_judges case_judges_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_judges
    ADD CONSTRAINT case_judges_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: case_judges case_judges_judge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_judges
    ADD CONSTRAINT case_judges_judge_id_fkey FOREIGN KEY (judge_id) REFERENCES public.judges(judge_id) ON DELETE CASCADE;


--
-- Name: case_phrases case_phrases_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_phrases
    ADD CONSTRAINT case_phrases_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: case_phrases case_phrases_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_phrases
    ADD CONSTRAINT case_phrases_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(document_id) ON DELETE SET NULL;


--
-- Name: case_phrases case_phrases_example_chunk_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_phrases
    ADD CONSTRAINT case_phrases_example_chunk_fkey FOREIGN KEY (example_chunk) REFERENCES public.case_chunks(chunk_id) ON DELETE SET NULL;


--
-- Name: case_phrases case_phrases_example_sentence_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_phrases
    ADD CONSTRAINT case_phrases_example_sentence_fkey FOREIGN KEY (example_sentence) REFERENCES public.case_sentences(sentence_id) ON DELETE SET NULL;


--
-- Name: case_sentences case_sentences_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_sentences
    ADD CONSTRAINT case_sentences_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: case_sentences case_sentences_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_sentences
    ADD CONSTRAINT case_sentences_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.case_chunks(chunk_id) ON DELETE CASCADE;


--
-- Name: case_sentences case_sentences_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.case_sentences
    ADD CONSTRAINT case_sentences_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(document_id) ON DELETE SET NULL;


--
-- Name: cases cases_case_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_case_type_id_fkey FOREIGN KEY (case_type_id) REFERENCES public.case_types(case_type_id) ON DELETE SET NULL;


--
-- Name: cases cases_court_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_court_id_fkey FOREIGN KEY (court_id) REFERENCES public.courts_dim(court_id) ON DELETE SET NULL;


--
-- Name: cases cases_parent_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_parent_case_id_fkey FOREIGN KEY (parent_case_id) REFERENCES public.cases(case_id) ON DELETE SET NULL;


--
-- Name: cases cases_stage_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_stage_type_id_fkey FOREIGN KEY (stage_type_id) REFERENCES public.stage_types(stage_type_id) ON DELETE SET NULL;


--
-- Name: citation_edges citation_edges_source_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.citation_edges
    ADD CONSTRAINT citation_edges_source_case_id_fkey FOREIGN KEY (source_case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: documents documents_brief_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_brief_id_fkey FOREIGN KEY (brief_id) REFERENCES public.briefs(brief_id) ON DELETE SET NULL;


--
-- Name: documents documents_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: documents documents_document_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_document_type_id_fkey FOREIGN KEY (document_type_id) REFERENCES public.document_types(document_type_id) ON DELETE RESTRICT;


--
-- Name: documents documents_stage_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_stage_type_id_fkey FOREIGN KEY (stage_type_id) REFERENCES public.stage_types(stage_type_id) ON DELETE RESTRICT;


--
-- Name: embeddings embeddings_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: embeddings embeddings_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.case_chunks(chunk_id) ON DELETE CASCADE;


--
-- Name: embeddings embeddings_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(document_id) ON DELETE SET NULL;


--
-- Name: issue_chunks issue_chunks_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.issue_chunks
    ADD CONSTRAINT issue_chunks_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: issue_chunks issue_chunks_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.issue_chunks
    ADD CONSTRAINT issue_chunks_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.case_chunks(chunk_id) ON DELETE CASCADE;


--
-- Name: issue_chunks issue_chunks_issue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.issue_chunks
    ADD CONSTRAINT issue_chunks_issue_id_fkey FOREIGN KEY (issue_id) REFERENCES public.issues_decisions(issue_id) ON DELETE CASCADE;


--
-- Name: issues_decisions issues_decisions_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.issues_decisions
    ADD CONSTRAINT issues_decisions_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: parties parties_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parties
    ADD CONSTRAINT parties_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: statute_citations statute_citations_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.statute_citations
    ADD CONSTRAINT statute_citations_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: statute_citations statute_citations_statute_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.statute_citations
    ADD CONSTRAINT statute_citations_statute_id_fkey FOREIGN KEY (statute_id) REFERENCES public.statutes_dim(statute_id) ON DELETE SET NULL;


--
-- Name: word_occurrence word_occurrence_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_occurrence
    ADD CONSTRAINT word_occurrence_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id) ON DELETE CASCADE;


--
-- Name: word_occurrence word_occurrence_chunk_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_occurrence
    ADD CONSTRAINT word_occurrence_chunk_id_fkey FOREIGN KEY (chunk_id) REFERENCES public.case_chunks(chunk_id) ON DELETE CASCADE;


--
-- Name: word_occurrence word_occurrence_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_occurrence
    ADD CONSTRAINT word_occurrence_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(document_id) ON DELETE SET NULL;


--
-- Name: word_occurrence word_occurrence_sentence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_occurrence
    ADD CONSTRAINT word_occurrence_sentence_id_fkey FOREIGN KEY (sentence_id) REFERENCES public.case_sentences(sentence_id) ON DELETE CASCADE;


--
-- Name: word_occurrence word_occurrence_word_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.word_occurrence
    ADD CONSTRAINT word_occurrence_word_id_fkey FOREIGN KEY (word_id) REFERENCES public.word_dictionary(word_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict xL6gK6XXuW9WevasGSk3zfNhUrwAfWfLlE9Y2iXIgKJLZwjnC51EKBR8awoOOLb

